<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Country page</title>
   <link rel="stylesheet" href="./src/css/main.css">
   <link rel="stylesheet" href="./src/css/country-page.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
</head>
<body>
   <div class="container info-container">
      <div class="info-container info-header">
         <div class="country-flag"></div>
         <h1>Country</h2>
      </div>
      <div class="info-container currency-info">
         <h3 id="convert-value">BRL 00,00</h3>
         <p id="currency">Country Currency</p>
      </div>
      <div class="info-container date-info">
         <h4>00/00/0000 00:00</h4>
         <h4>Timezone</h4>
      </div>
      <div class="info-container capital-info">
         <h4>0 ºC Capital</h4>
      </div>
      
   </div>
</body>
</html>