.controller-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 100vh;
   padding: 0 5%;
   gap: 16px;

   background:linear-gradient(to bottom right, #0f0f0f, #212121);
}

.button-control{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20%;
   height: 30%;
   cursor: pointer;
   border: solid 6px #383838;
   border-radius: 15px;
   background-color: #383838;
   transition: width 280ms, height 280ms, background-color 280ms;
}

.button-control:hover{
   background-color: transparent;
   width: 21%;
   height: 31%;
}


.control-double-arrows{
   width: 50%;  
   height: 50%; 
}

.control-arrows{
   width: 50%;   
   height: 80%;
}

.left-direction{
   transform: scaleX(-1);
}

.home-icon {
   width: 45%;
   height: 50%; 
}